{% extends 'base.html.twig' %}

{% block title %}Edit Duck{% endblock %}

{% block body %}
    <h1>Edit Duck</h1>

    {{ include('duck/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('duck_index') }}">back to list</a>

    {{ include('duck/_delete_form.html.twig') }}
{% endblock %}
