{% extends 'base.html.twig' %}

{% block title %}New Duck{% endblock %}

{% block body %}
    <h1>Create new Duck</h1>

    {{ include('duck/_form.html.twig') }}

    <a href="{{ path('duck_index') }}">back to list</a>
{% endblock %}
