{% extends 'base.html.twig' %}

{% block title 'Welcome to DuckBook !' %}

{% block body %}
    <div class="container-fluid bg-warning text-dark text-center py-5">
        <div class="inline-block justify-content-center align-items-center">
            <p><img src="/images/logos/logo.png" alt=""></p>
            <h1>DuckBook</h1>
        </div>
    </div>
    <div class="bg-secondary text-light py-3 shadow">
        <div class="container">
            <h2>Last Quacks</h2>
            <div class="flex row align-items-start">
                {% for quack in quacks %}
                    <div class="col-2">
                        <a href="{{ path('quack.show', {id: quack.id}) }}">
                            <div class="card">
                                {% if quack.imageFilename %}
                                    <img class="card-img-top thumbnail" src="{{ asset('images/quacks/' ~ quack.imageFilename) }}" alt="picture">
                                {% else %}
                                    <img class="card-img-top thumbnail" src="{{ asset('/images/pictures/empty_quack.jpg') }}" alt="picture">
                                {% endif %}
                                <div class="card-img-overlay d-flex align-items-center w-100 bg-light" style="opacity: 0.7;">
                                    <h4>{{ quack.title }}</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}