<div class="w-100">
    <span class="float-right">
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-primary"><i class="fas fa-arrow-circle-left"></i> Back</a>
        <a href="{{ path('quack.new') }}" class="btn btn-primary"><i class="fas fa-comment-alt"></i> New</a>
    </span>
</div>
