{% extends 'base.html.twig' %}

{% block title 'Add a Quack' %}

{% block body %}
    <div class="container mt-3">
        <a href="{{ path('quack.index') }}" class="btn btn-primary float-right"><i class="fas fa-arrow-circle-left"></i> Back</a>
        <h1>New Quack</h1>
        {{ include('quack/_form.html.twig', {button: 'Ajouter'}) }}
    </div>
{% endblock %}