{% extends 'base.html.twig' %}

{% block title quack.title %}

{% block body %}
    <div class="container mt-3">
        {% include 'quack/_nav_quack.html.twig' %}
        <h1>{{ quack.title }}</h1>
        {% include 'quack/_quack.html.twig' %}
    </div>

{% endblock %}