{% extends 'base.html.twig' %}

{% block title 'Welcome to DuckBook !' %}

{% block body %}
    <div class="container-fluid bg-warning text-dark text-center py-5">
        <div class="inline-block justify-content-center align-items-center">
            <p><img src="/images/logos/logo.png" alt=""></p>
            <h1>Duck Admin</h1>
        </div>
    </div>
{% endblock %}